@page "/"
@using Microsoft.Extensions.Logging
@inject GameClient GameClient
@inject ILogger<Index> Logger

<h1>Rochambot!</h1>

@if (UserState.CurrentUser == null || (UserState.CurrentUser != null && !UserState.CurrentUser.IsLoggedIn))
{
    <p>Rochambot is a human-against-bot-army game of Rock, Paper, Scissors. To play you must either 
        login, or build your own Rochambot to play on your behalf.
    </p>
}
else
{
    @if(GameClient.CurrentGame == null)
    {
        <div id="RequestGame">
            <button type="button" class="btn btn-primary btn-lg" onclick="@RequestGame">Request Game</button>
        </div>
        <h1>Active Games:</h1>
        <div class="card-group">
            <ul class="list-group list-group-flush">
            @foreach(var game in GameClient.Games)
            {
                <li class="list-group-item">
                    <div class="card text=center">
                        <h5 class="card-title">@game.Id</h5>
                        <p>
                            Opponent: @game.OpponentId<br />
                            Status: @game.CurrentStatus<br />
                            Over? @game.GameOver.ToString()
                        </p>
                        <button class="btn btn-primary" onclick="@(() => PlayGame(game))">Play</button>
                    </div>
                </li>
            }
            </ul>
        </div>
    }
    else
    {
        <div id="history">
            <ul>
                @foreach (var round in GameClient.CurrentGame.Rounds)
                {
                    <li>@round.Summary</li>
                }
            </ul>
        </div>
        @*<div class="card-group">
            <div class="card text-center">
                <img class="card-img-top" src='@string.Format($"/images/rock-{winLossStatus}.png")' alt="Rock">
            </div>
            <div class="card text-center">
                <img class="card-img-top" src='@string.Format($"/images/paper-{winLossStatus}.png")' alt="Paper">
            </div>
            <div class="card text-center">
                <img class="card-img-top" src='@string.Format($"/images/scissors-{winLossStatus}.png")' alt="Scissors">
            </div>
        </div>*@

        <div id="game">
            <button type="button" class="btn btn-primary btn-lg" disabled=@(GameClient.CurrentGame?.Playable ?? false) onclick="@(() => Play(Shape.Rock))">
                <i class="fas fa-hand-rock"></i>
            </button>
            <button type="button" class="btn btn-primary btn-lg" disabled=@(GameClient.CurrentGame?.Playable ?? false) onclick="@(() => Play(Shape.Paper))">
                <i class="fas fa-hand-paper"></i>
            </button>
            <button type="button" class="btn btn-primary btn-lg" disabled=@(GameClient.CurrentGame?.Playable ?? false) onclick="@(() => Play(Shape.Scissors))">
                <i class="fas fa-hand-scissors"></i>
            </button>
        </div>
        <br>
        <div id="back">
            <button type="button" class="btn btn-primary btn-lg" onclick="@BackToGameList">Back</button>
        </div>
    }
}

@functions {
    [CascadingParameter] UserStateProvider UserState { get; set; }

    Shape playerShape;
    string status;
    bool disabled = false;
    string winLossStatus = "normal";

    protected override Task OnInitAsync()
    {
        GameClient.OnStateChanged += UpdateState;
        return Task.CompletedTask;
    }

    protected override async Task OnAfterRenderAsync()
    {
        await LoginToGameClient();
    }

    void UpdateState(object sender, EventArgs args)
    {
        Invoke(() =>
        {
            Logger.LogInformation("Updating state");
            //TODO: Fix tearing that will happen here. Perhaps GameClient should just be the page code.
            StateHasChanged();
        });
    }

    async Task LoginToGameClient()
    {
        if (UserState.CurrentUser != null && UserState.CurrentUser.IsLoggedIn)
        {
            await GameClient.SetPlayerId(UserState.CurrentUser);
        }
    }

    async Task Play(Shape playerPick)
    {

        playerShape = playerPick;
        status = "Waiting for bot...";
        await GameClient.PlayShapeAsync(playerPick);
    }

    async Task RequestGame()
    {
        status = "Requesting game...";
        await GameClient.RequestGameAsync();
        status = "Game found.";
    }

    async Task BackToGameList()
    {
        await Invoke(() => {
            GameClient.CurrentGame = null;
            StateHasChanged();
        });
    }

    Task PlayGame(Game game)
    {
        if(game.ReadyToPlay)
        {
            GameClient.CurrentGame = game;
        }
        return Task.CompletedTask;
    }
}